.Navbar {
  font-size: 32px;
  display: flex;
  align-items: center;
  margin: 24px;
  padding: 0 0 16px 0;
  border-bottom: #8a8e93 solid 1px;
  background-color: var(--background);
  color: var(--foreground);
}

.centerNavElements {
  display: flex;
}

.centerNavElements a {
  overflow: hidden;
  padding: 0 16px;
  text-decoration: none;
  position: relative;
  font-weight: 500;
}

.centerNavElements a:hover {
  color: var(--foreground);
}

.centerNavElements a::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: top left;
  transition: transform 0.3s ease;
}

.centerNavElements a:hover::before {
  transform: scaleX(1);
}

.Logo {
  margin-right: auto;
  text-decoration: none;
  font-weight: 700;
}
.centerNavElements .DarkModeButton {
  display: flex;
}

.Cart {
  color: var(--foreground);
  margin-left: 100px;
  display: flex;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.Cart:hover {
  transform: scale(1.5);
}

.quantity {
  background-color: rgb(197, 0, 0);
  color: #fff;
  font-size: 16px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  text-align: center;
}

.DarkModeButton {
  margin-left: auto;
}
