@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-image: url('../public/images/tokio1.jpg');
  background-size: cover;
  background-position: center;
}
.thx-you-image {
  background-image: url('../public/images/newzealand.jpg');
  background-size: cover;
  background-position: center;
}
